<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/9de7ded6-0ad3-43e6-87b8-17d93e3ff695/resourceGroups/testWebDBStandard/providers/Microsoft.Web/sites/cawatest123</ResourceId>
    <ResourceGroup>testWebDBStandard</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://cawatest123.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>4d42465f-bc50-4183-aecc-48a6c3a62d1e</ProjectGuid>
    <PublishUrl>https://cawatest123.scm.azurewebsites.net/</PublishUrl>
    <UserName>$cawatest123</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>