<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/9de7ded6-0ad3-43e6-87b8-17d93e3ff695/resourceGroups/cawatest154pm/providers/Microsoft.Web/sites/cawatest154</ResourceId>
    <ResourceGroup>cawatest154pm</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://cawatest154.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e1eeb167-c61c-4a09-b223-f8cb8f352019</ProjectGuid>
    <PublishUrl>https://cawatest154.scm.azurewebsites.net/</PublishUrl>
    <UserName>$cawatest154</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>