<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/9de7ded6-0ad3-43e6-87b8-17d93e3ff695/resourceGroups/cawatest506pm/providers/Microsoft.Web/sites/cawatest506</ResourceId>
    <ResourceGroup>cawatest506pm</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://cawatest506.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>20cfa409-ad0e-4c66-9a88-812600b2f62b</ProjectGuid>
    <PublishUrl>https://cawatest506.scm.azurewebsites.net/</PublishUrl>
    <UserName>$cawatest506</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>